@{
    ViewBag.Title = "BlobUploader";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Lorem Ipsum!
            </p>
        </div>
    </section>
}
<h3>Things to do:</h3>
<ol class="round">
    <li class="one">
        <h5>First</h5>
        Do stuff
    </li>

    <li class="two">
        <h5>Then</h5>
        Commit to GitHub
    </li>

    <li class="three">
        <h5>Finally</h5>
        Profit!!
    </li>
</ol>
